In [1]:
import devintern1804KHK.sub1 as s1
import datetime
# samples = s1.time_sampling(n=100)
s1

In [15]:

datetime

In [14]:
dfc = s1.time_sampling(n=100)

In [77]:
dfc.loc[0].time - datetime.timedelta(minutes=5)

range_time = (concated.iloc[-1].time - init_time)

In [74]:
concated = s1.func1(df1, df2)

In [76]:
init_time = concated.loc[0].time

threshold = init_time - datetime.timedelta(minutes=init_time.minute % 5) + datetime.timedelta(minutes=5)

In [26]:
time = dfc.loc[0].time

time.minute % 5

1

In [34]:
dfc.iloc[-1].time

Timestamp('2018-04-24 16:41:39.150214')

In [65]:
datetime.timedelta(minutes=5)

time.minute % 5 

range_time = dfc.iloc[-1].time - dfc.loc[0].time
range_time / (range_time // 5)
range_time

# for i in range(range_time /:
#     print(i)
num_5 = range_time // 5

range_time.total_seconds() // 300

1188.0

In [7]:
def func2(df1, df2):
    import pandas as pd
    import devintern1804KHK.sub1 as s1
    import datetime

    # 데이터 프레임 합쳐서, 시간 순으로 오름 차순 정렬
    concated = s1.func1(df1, df2)
    
    #concated 프레임에서 5분 단위로 데이터를 스택하고 보여줘야함
    init_time = concated.loc[0].time
    
    # threshold = 5 minutes, 첫번째 5분 단위의 스레스홀드를 찾는다. 
    threshold = init_time - datetime.timedelta(minutes=init_time.minute % 5) + datetime.timedelta(minutes=5)
    
    # 첫번째 시간과 마지막 시간의 차, 데이터의 범위를 timedelta로 만든다.
    range_time = (concated.iloc[-1].time - init_time)
    
    # 5분단위의 record를 담을 리스트
    records = []
    
    for time in range(range_time.total_seconds() // 300):
        
        record = concated[concated.time <= threshold]
        record.iloc[-1]
        records.append(record)
        
        # threshold  update
        threshold += datetime.timedelta(minutes=5)
    
    return pd.DataFrame(records, columns=["time", "value"])

In [ ]:
def func1(df1, df2):
    
    """
    이 함수는 "time"과 "value" 가 들어 있는 pandas 데이터 프레임 두개를 인수로 받고, 
    이 두 데이터 프레임을 합치고, "time" 을 기준으로 정렬하는 함수 입니다. 
    
    parameter :: 
    
    df1 : pandas.DataFrame, "time" 과 "value"라는 필드를 포함 하고 있어야 합니다. 
    df2 : pandas.DataFrame, "time" 과 "value"라는 필드를 포함 하고 있어야 합니다. 
    
    return :: 
    
    result : 합쳐지고, 시간 순으로 정렬된 데이터프레임

    """
    
    result = pd.concat([df1, df2], axis=0)
    result = result.sort_values(["time"], ascending=[True])
    result = result.reset_index(drop=True)
    
    return result 



# time sampling for test 
def time_sampling(n=100):
    
    """

    func 1의 테스트용 데이터 프레임 생성 
    
    paragmeter::
    
    n : 생성하고 싶은 샘플 개수
    
    return :: 
    
    samples : 날짜 데이터 샘플 (각 날짜의 자료형은 "datetime.datetime")
    
    """
    
    
    dates = pd.date_range(start=datetime.datetime.now(), freq="H", periods=n)
    dates = pd.Series(dates)
    
    samples = pd.concat([dates, pd.Series(np.zeros(n))], axis=1)
    samples.columns = ['time', 'value']
    
    return samples

In [2]:
import devintern1804KHK.sub1 as s1
import datetime

df1 = s1.time_sampling(n=100)

In [3]:
df2 = s1.time_sampling(n=100)

In [6]:
s1.func1(df1, df2)

                          time  value
0   2018-04-20 14:26:41.818376    0.0
1   2018-04-20 14:26:43.255810    0.0
2   2018-04-20 15:26:41.818376    0.0
3   2018-04-20 15:26:43.255810    0.0
4   2018-04-20 16:26:41.818376    0.0
5   2018-04-20 16:26:43.255810    0.0
6   2018-04-20 17:26:41.818376    0.0
7   2018-04-20 17:26:43.255810    0.0
8   2018-04-20 18:26:41.818376    0.0
9   2018-04-20 18:26:43.255810    0.0
10  2018-04-20 19:26:41.818376    0.0
11  2018-04-20 19:26:43.255810    0.0
12  2018-04-20 20:26:41.818376    0.0
13  2018-04-20 20:26:43.255810    0.0
14  2018-04-20 21:26:41.818376    0.0
15  2018-04-20 21:26:43.255810    0.0
16  2018-04-20 22:26:41.818376    0.0
17  2018-04-20 22:26:43.255810    0.0
18  2018-04-20 23:26:41.818376    0.0
19  2018-04-20 23:26:43.255810    0.0
20  2018-04-21 00:26:41.818376    0.0
21  2018-04-21 00:26:43.255810    0.0
22  2018-04-21 01:26:41.818376    0.0
23  2018-04-21 01:26:43.255810    0.0
24  2018-04-21 02:26:41.818376    0.0
25  2018-04-21 02:26:43.255810    0.0
26  2018-04-21 03:26:41.818376    0.0
27  2018-04-21 03:26:43.255810    0.0
28  2018-04-21 04:26:41.818376    0.0
29  2018-04-21 04:26:43.255810    0.0
..                         ...    ...
170 2018-04-24 03:26:41.818376    0.0
171 2018-04-24 03:26:43.255810    0.0
172 2018-04-24 04:26:41.818376    0.0
173 2018-04-24 04:26:43.255810    0.0
174 2018-04-24 05:26:41.818376    0.0
175 2018-04-24 05:26:43.255810    0.0
176 2018-04-24 06:26:41.818376    0.0
177 2018-04-24 06:26:43.255810    0.0
178 2018-04-24 07:26:41.818376    0.0
179 2018-04-24 07:26:43.255810    0.0
180 2018-04-24 08:26:41.818376    0.0
181 2018-04-24 08:26:43.255810    0.0
182 2018-04-24 09:26:41.818376    0.0
183 2018-04-24 09:26:43.255810    0.0
184 2018-04-24 10:26:41.818376    0.0
185 2018-04-24 10:26:43.255810    0.0
186 2018-04-24 11:26:41.818376    0.0
187 2018-04-24 11:26:43.255810    0.0
188 2018-04-24 12:26:41.818376    0.0
189 2018-04-24 12:26:43.255810    0.0
190 2018-04-24 13:26:41.818376    0.0
191 2018-04-24 13:26:43.255810    0.0
192 2018-04-24 14:26:41.818376    0.0
193 2018-04-24 14:26:43.255810    0.0
194 2018-04-24 15:26:41.818376    0.0
195 2018-04-24 15:26:43.255810    0.0
196 2018-04-24 16:26:41.818376    0.0
197 2018-04-24 16:26:43.255810    0.0
198 2018-04-24 17:26:41.818376    0.0
199 2018-04-24 17:26:43.255810    0.0

[200 rows x 2 columns]

In [4]:
import devintern1804KHK.sub2 as s2
df_r = s2.func2(df1, df2)

In [10]:
len(np.unique(df_r.time))

99

In [ ]:
#  test 함수 



def unit_test():
    # 이 함수가 성공적으로 실행되면, True를 출력 
    import devintern1804KHK.sub1 as s1
    import devintern1804KHK.sub2 as s2
    df1 = s1.time_sampling(n=100)
    df2 = s1.time_sampling(n=100)

    try:
        s2.func2(df1, df2)
    return True